<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Salah Times</title>
    <style>
        body {
            background-color: #0a96c5;
            color: #fff;
        }
    </style>
</head>
<body>
<h1>Salah</h1>

<dl id="times">
    <dt>Fajr</dt>
    <dd>{salahTimes.fajr}</dd>

    <dt>Sunrise</dt>
    <dd>{salahTimes.sunrise}</dd>

    <dt>Dhuhr</dt>
    <dd>{salahTimes.dhuhr}</dd>

    <dt>Asr</dt>
    <dd>{salahTimes.asr}</dd>

    <dt>Maghrib</dt>
    <dd>{salahTimes.maghrib}</dd>

    <dt>Isha</dt>
    <dd>{salahTimes.isha}</dd>
</dl>
</body>
</html>
